.background-ctulhu {
    background: url("../img/pages/home/Main.webp") center no-repeat;
    width:100%;
    height:100%;
    background-size:cover;
}

.background-books {
    background: url("../img/pages/books/Dagon-6.webp") center no-repeat;
    width:100%;
    height:100%;
    background-size:cover;
}

.content-text {
    font-style: inherit;
    position: relative;
}

h1, h2 {
    font-size: 3rem;
    color: rgba(208, 213, 12, 0.9);
}

.btn {
    width: 12rem;
    height: 4rem;
    background-image: url("../img/buttons/buttonMain.png");
    background-repeat: no-repeat round;
    color: grey;
    --bs-btn-hover-color: #efbf03;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
